.closed-issues{
    display: flex;
    
}

.closed-issues-name{
    font-size: 15px;
    font-weight: bold;
}

.closed-issues-name:hover{
    border-bottom: 1px solid white;
    cursor: pointer;

}

#closed-issues-icon{
    font-size: 20px;
    margin-left: 0.3rem;
}