.closed-issues{
    display: flex;
    
}

.closed-issues-name{
    font-size: 15px;
    font-weight: bold;
    color: #0E1117;
}

.closed-issues-name:hover{
    border-bottom: 1px solid grey;
    cursor: pointer;

}

#closed-issues-icon{
    font-size: 20px;
    margin-left: 0.3rem;
    color: rgb(62, 99, 7);
}

