.issues-container-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid whitesmoke; */
    width: 45%;
    
}

.issues-container-left span{
    font-weight: bold;
    margin-right: 0.5rem;
}

.issues-container-left input{
    width: 3rem;
}