.opened-issues{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.opened-issues-name{
    font-size: 15px;
    font-weight: bold;
}
.opened-issues-name:hover{
    border-bottom: 1px solid white;
    cursor: pointer;

}

#opened-issues-icon{
    font-size: 20px;
    margin-left: 0.3rem;
}