.opened-issues{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.opened-issues-name{
    font-size: 15px;
    font-weight: bold;
}

#opened-issues-icon{
    font-size: 20px;
    margin-left: 0.3rem;
}