.one-issue{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.one-issue-title-icon{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 0.5rem;
}
.one-issue-icon{
    margin: 0rem 0.5rem;
    font-size: 1.4rem;
}
.one-issue-title{
    margin: 0rem 0.5rem;
    font-size: 1.1rem;
    font-weight: bolder;
}

#one-issue-icon{
    font-size: 1rem;
}

.one-issue-description{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
    font-size: 0.8rem;
}