.one-issue{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    padding: 0.5rem;
    border-bottom: 1px solid #c9c9c9;
}

.one-issue-title-icon{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 0.5rem;
}
.one-issue-icon{
    margin: 0rem 0.5rem;
    font-size: 1.4rem;
}
.one-issue-title{
    margin: 0rem 0.5rem;
    font-size: 1.1rem;
    font-weight: bolder;
    color:  #0E1117;
}

#one-issue-icon{
    font-size: 1rem;
}

.one-issue-description{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:6rem;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: grey;
}

#label{
    background-color: blueviolet;
}