.header{
    width:99%;
    height: 3rem;
    display: flex;
    padding: 0.6rem;
    border: 0.5px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem;
    margin-top: 0;
    background-color: #624f73;
    /* color:whitesmoke; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0;
}