.banner{
    width: 80%;
    height: auto;
    border: 1px solid #00FFFF;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.banner-title{
    color: greenyellow;
}
.banner-desc{
    color: greenyellow;
}
#smile-icon{
    font-size: 2rem;
}